.LoadingCont {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.LoadingLogo {
  height: 30%;
  animation: rotation 15s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
