:root {
  --primary: #374151;
  --primary-hover: #2d3339;
  --primary-lgt: #48525b;
  --secondary: #49515f;
  --dark-grey: #5a5a5a;
  --grey: #d4d4d4;
  --lgt-grey: #fafafa;
  --dark-primary: rgb(33, 37, 41);
}

*::-webkit-scrollbar {
  width: 16px;
}
*::-webkit-scrollbar {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--dark-grey);
  border-radius: 10px;
  border: 3px solid #ffffff;
}

html {
  width: 100vw;
  min-height: 100vh;
  height: max-content;
}

body {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  position: absolute;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#root {
  min-height: 100vh;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.logo {
  max-height: 30px;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 16px;
  }
}
